@media (max-width: 1280px) {
  .popup__content {
    width: 70%;
    overflow-y: auto; /* Включаем вертикальный скролл */
    overflow-x: hidden; /* Убираем горизонтальный скролл */
  }

  .info-list_up-stonge {
    display: flex;
    gap: 10px;
  }

  .next-match-wrapper {
    width: 37%;
  }

  .team-info {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
  }

  .home-team .time-games .away-team{
    width: max-content;
  }
 
}
