@media (max-width: 1024px) {
  .popup__content {
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding: 75px 15px 15px 15px;
    overflow: visible;
    border-radius: 0;
    overflow-y: auto; /* Включаем вертикальный скролл */
    overflow-x: hidden; /* Убираем горизонтальный скролл */
  }
  .popup_content-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .section__picture_content {
    margin: 0;
  }

  .popup__body-player {
    width: 100%;
    display: block;
    height: 145px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 5px;
    position: relative;
  }

  .popup__body {
    background: transparent; /* Убираем фон */
    backdrop-filter: none; /* Убираем размытие */
    padding: 0px;
    margin-bottom: 0px;
    order: -1;
  }

  .popup__body__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup__body-player-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }

  .popup__body-player-info-name {
    font-size: 16px;
    width: 300px;
    text-align: left;
    position: absolute;
    top: 15px;
  }

  .popup__body-player-info-details {
    padding-right: 0px;
  }

  .popup__button-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 120px;
    height: 30px;
    color: rgb(0, 0, 0);
    font-weight: 400;

    background-color: white;
    border: none;
  }

  .facts-list {
    gap: 10px;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  .next-match-wrapper {
    width: 100%;
    height: max-content;
  }
  .team-info {
    padding: 0px 0px 20px 0px;
    gap: 0;
  }

  .home-team .time-games .away-team {
    width: 33%;
  }

  .next-match-icon-club {
    width: 65px;
    height: 65px;
  }
}
