@media (max-width: 1024px) {
	.popup__content {
    width: 100%;
    overflow-y: auto; /* Включаем вертикальный скролл */
    overflow-x: hidden; /* Убираем горизонтальный скролл */
		border-radius: 0px;

  }
}
