@media (max-width: 1280px) {
  .main {
    overflow-x: hidden;
  }

  .record-header-section {
    background-color: rgb(195, 255, 0);
    width: calc(100vw - 20px);
    padding: 10px 0px;
    text-align: start;
    margin: 0 auto;
  }

  .record-section_title {
    line-height: 0.8;
  }

  .record-description-section {
    width: calc(100vw - 20px);
    margin: 0 auto;
    flex-direction: column;
  }

  .record-description {
    width: calc(100vw - 20px);
  }

  .developer {
    font-size: 12px;
    text-align: end;
    padding: 10px 0px;
  }

  .record-progress-section {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .record-progress__title {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (500 - 320)));
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .record-difference {
    font-size: calc(130px + (150 - 130) * ((100vw - 320px) / (500 - 320)));
    font-family: var(--font-primary);
  }

  .text-puck {
    font-size: 46px;
  }

  .player-image-wrapper {
    z-index: 0;
    opacity: 0.3;
  }

  .top-scorers-section {
    width: calc(100vw - 20px);
    order: 4;
    padding: 0px 0px 40px 0px;
    margin: 0 auto;
    gap: 10px;
  }

  .video {
    z-index: 2;
    width: 40vw;
    height: 35vh;
  }

  .top-scorer-item {
    width: 55vw;
    height: auto;
    padding-right: 0px;
  }

  .player {
    gap: 5px;
  }

  .player-name {
    font-size: 16px;
  }

  .player-season {
    display: block;
    font-size: 14px;
  }
  .player-goals {
    font-size: 26px;
  }
  .player-img {
    width: 45px;
    height: 45px;
  }

  .puck-icon {
    padding-right: 5px;
  }

  .remaining-to-record {
    position: relative;
    margin: 0 auto;
  }

  .header__theme-menu-list {
    position: relative;
    z-index: 2;
    bottom: 1%;
    right: 0px;
  }

  .header__theme-menu-label {
    font-size: 16px;
  }
}
