@media (max-width: 1600px) {
  .video {
    z-index: 2;
    width: 25vw;
    height: 29vh;
  }

  .top-scorer-item {
    height: 65px;
    padding-right: 0px;
  }

  .record-header-section {
    margin-bottom: 0;
  }

  .top-scorers-section {
    margin: 0px 18px;
    display: flex;
    justify-content: space-between;
  }
}
