@media (min-width: 320px) and (max-width: 500px) {
  .ovechkin-image {
    height: 70%;
  }

  .record-section_title {
    font-size: calc(43px + (58 - 43) * ((100vw - 320px) / (500 - 320)));
  }

  .record-progress-section {
    padding: 30px 0;
  }

  .record-progress__title {
    font-size: calc(25px + (45 - 25) * ((100vw - 320px) / (500 - 320)));
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .record-difference {
    font-size: calc(120px + (150 - 120) * ((100vw - 320px) / (500 - 320)));
    line-height: 0.9;
  }

  .text-puck {
    font-size: 25px;
  }

  .header__theme-menu-list {
    top: 108%;
  }

  .video {
    z-index: 2;
    width: 100%;
    height: 30vh;
  }

  .show-video-btn {
    display: inline;
    color: var(--accent-color);
  }

  .top-scorers-section {
    flex-direction: column;
    gap: 10px;
    margin: 0 auto; /* Центрируем */
    padding: 0px 0px 20px 0px;
  }

  .top-scorer-item {
    width: 100%;
    height: auto;
  }

  .player-name {
    font-size: 16px;
  }

  .player-season {
    display: block;
  }
  .player-goals {
    font-size: 26px;
  }
}
