@media (320px <= width <= 500px) {
  .record-header-section {
    width: calc(
      100vw - 20px
    ); /* 100% ширины экрана минус 10px (по 5px слева и справа) */
    padding: 10px 0px; /* Внутренние отступы */
    text-align: start;
    background-color: aqua;
    margin: 0 auto; /* Центрируем */
  }

  .record-section_title {
    font-size: calc(45px + (60 - 45) * ((100vw - 320px) / (500 - 320)));
    line-height: 0.8;
  }

  .record-description-section {
    width: calc(100vw - 20px);
    background-color: aquamarine;
    margin: 0 auto; /* Центрируем */
  }

  .record-description {
    width: calc(100vw - 20px);
  }

  .developer {
    font-size: 12px;
    text-align: end;
    padding: 10px 0px;
  }

  .record-progress-section {
    background-color: rgb(172, 12, 246);
    margin: 0 auto; /* Центрируем */
    width: calc(100vw - 20px);
  }

  .record-progress__title {
    font-size: 50px;
    text-align: center;
  }

  .record-difference {
    font-size: 200px;
    font-family: var(--font-primary);
    line-height: 1;
  }

  .top-scorers-section {
    width: calc(100vw - 20px);
    order: 4;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(127, 255, 133);
    margin: 0 auto; /* Центрируем */
  }

  .record-description-section {
    display: flex;
    flex-direction: column;
  }

  .top-scorer-item {
    width: 100%;
    height: auto;
  }

  .video {
    z-index: 2;
    width: 100%;
    height: auto;
  }

  .show-video-btn {
    display: inline;
  }

  .show-video-btn {
    color: var(--accent-color);
  }

  .header__theme-menu-button_type_auto {
    display: none;
  }

  .player {
    gap: 5px;
  }

  .player-name {
    font-size: 16px;
  }

  .player-season {
    display: block;
  }
  .player-goals {
    font-size: 26px;
  }
  .player-img {
    width: 45px;
    height: 45px;
  }

  .header__theme-menu-list {
    flex-direction: column-reverse;
    gap: 2px;
  }
}
