@media (max-width: 768px) {
  .main {
    overflow: visible;
  }

  .record-header-section {
    width: calc(
      100vw - 20px
    ); /* 100% ширины экрана минус 10px (по 5px слева и справа) */
    padding: 10px 0px; /* Внутренние отступы */
    text-align: start;
    margin: 0 auto; /* Центрируем */
    background-color: aqua;
  }
}
