@media (max-width: 768px) {
  .main {
    overflow: visible;
  }

  .record-header-section {
    width: calc(
      100vw - 20px
    ); /* 100% ширины экрана минус 10px (по 5px слева и справа) */
    padding: 10px 0px; /* Внутренние отступы */
    text-align: start;
    margin: 0 auto; /* Центрируем */
    background-color: aqua;
  }

  .record-section_title {
    font-size: calc(60px + (105 - 60) * ((100vw - 500px) / (768 - 500)));
    line-height: 0.8;
  }
}
