.page.theme_dark {
  --background-image: url(../image/background/backgroung-dark.webp);
  --background-fon: rgb(0, 17, 60, 0.8);

  --font-primary: "Russo One", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --color-background: #000a2b;
  --title-color: #ffffff;
  --shum-backgroung: #121026;
  --text-color: #ffffff;
  --text-preloader: #ffffff;

  --font-weight: 300;
  --font-weight-title: 400;
  --accent-color: #ffffff;
  --btn-color: #000a2b;
  --btn-backgroung: #ffffff;

  --z-index-background: -1;
  --z-index-content: 1;
  --z-index-menu: 10;
  --z-index-modal: 100;
}
