.page.theme_light {
  --background-image: url(../image/background/backgroung-light.webp);
  --font-primary: "Russo One", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --color-background: #ffffff;
  --title-color: #22335f;
  --shum-backgroung: #ffffff;
  --text-color: #22335f;
  --text-preloader: #22335f;

  --font-weight: 300;
  --font-weight-title: 400;

  --accent-color: #22335f;
  --btn-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../image/background/backgroung-light.webp);
    --background-image-mobil: url(../image/background/backgroung-mobil_light.webp);

    --font-primary: "Russo One", sans-serif;
    --font-secondary: "Montserrat", sans-serif;

    --color-background: #ffffff;
    --text-preloader: #22335f;

    --title-color: #22335f;
    --shum-backgroung: #ffffff;
    --text-color: #22335f;
    --font-weight: 300;
    --font-weight-title: 400;

    --accent-color: #22335f;
    --btn-color: #ffffff;
  }
}
