.page.theme_light {
  --background-image: url(../image/background/backgroung-dark.webp);
  --background-fon: rgb(255, 255, 255, 0.8);

  --font-primary: "Russo One", sans-serif;
  --font-secondary: "Montserrat", sans-serif;

  --color-background: #ffffff;
  --title-color: #000a2b;
  --shum-backgroung: #ffffff;
  --text-color: #000a2b;
  --text-preloader: #000a2b;

  --font-weight: 300;
  --font-weight-title: 400;

  --accent-color: #000a2b;
  --btn-color: #ffffff;
  --btn-backgroung: #000a2b;

  --z-index-background: -1;
  --z-index-content: 1;
  --z-index-menu: 10;
  --z-index-modal: 100;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../image/background/backgroung-dark.webp);
    --background-fon: rgb(255, 255, 255, 0.8);

    --font-primary: "Russo One", sans-serif;
    --font-secondary: "Montserrat", sans-serif;

    --color-background: #ffffff;
    --text-preloader: #000a2b;

    --title-color: #000a2b;
    --shum-backgroung: #ffffff;
    --text-color: #000a2b;
    --font-weight: 300;
    --font-weight-title: 400;

    --accent-color: #000a2b;

    --btn-color: #ffffff;
    --btn-backgroung: #000a2b;

    --z-index-background: -1;
    --z-index-content: 1;
    --z-index-menu: 10;
    --z-index-modal: 100;
  }
}
