/* Стандартные стили для прелоадера */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1b20;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.preloader-1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 9999;
}

.preloader-text {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  width: 700px;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
}

/* Анимация для линий */
.preloader-1 .line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-1 .line-1 {
  animation-delay: 800ms;
}
.preloader-1 .line-2 {
  animation-delay: 600ms;
}
.preloader-1 .line-3 {
  animation-delay: 400ms;
}
.preloader-1 .line-4 {
  animation-delay: 200ms;
}
.preloader-1 .line-6 {
  animation-delay: 200ms;
}
.preloader-1 .line-7 {
  animation-delay: 400ms;
}
.preloader-1 .line-8 {
  animation-delay: 600ms;
}
.preloader-1 .line-9 {
  animation-delay: 800ms;
}

/* Анимация для линий */
@keyframes opacity-1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Скрытие прелоудера */
.hidden {
  opacity: 0;
  transition: opacity 0.9s ease-out;
}

/* Медиазапрос для уменьшения анимаций */
@media (prefers-reduced-motion: reduce) {
  .preloader-1 .line {
    animation: none; /* Отключить анимацию для линий */
  }
}
