body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page {
  background-image: var(--background-image);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -3;
}

.record-header-section {
  white-space: nowrap;
  text-align: center;
  margin: 10px;
}

.record-section_title {
  font-family: var(--font-primary);
  font-size: clamp(2.8125rem, 0.2013rem + 13.6166vw, 33.625rem);
  color: var(--title-color);
  line-height: 0.8;
  opacity: 0;
  text-align: start;
  z-index: 0;
}

.record-description-section {
  display: flex;
  margin: 10px 18px;
  justify-content: space-between;
}

.record-number {
  font-family: var(--font-primary);
  color: #cf4342;
}

.record-description {
  font-size: 13px;
  color: var(--text-color);
  font-weight: var(--font-weight);
  opacity: 0.5;
  width: 45%;
  z-index: 4;
}

.developer {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: var(--font-weight);
  opacity: 0;
}

.developer_dev {
  opacity: 0.5;
}

.top-scorers-section {
  margin: 20px 18px;
  display: flex;
  justify-content: space-between;
}

.video {
  width: 20vw;
  height: 11vw;
  border-radius: 5px;
  opacity: 0;
  z-index: 4;
  border: none;
}

.top-players {
  z-index: 1;
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-scorer-item {
  width: clamp(200px, 50vw, 430px);
  height: clamp(55px, 8vh, 85px);

  background: #2b2128;
  border-radius: 5px;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  position: relative;
}

.top-scorer-item:hover {
  opacity: 0.85;
  cursor: pointer;
}

a:hover {
  opacity: 0.85;
}

.progress-bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #161b21 0%, #e2323b 99.99%, #7c1b20 100%);
  left: 0;
  top: 0;
  border-radius: 5px;
  transition: width 2.1s ease-in-out;
}

.item-image_circle {
  padding: 0 12px;
  display: flex;
  align-items: center;
  position: relative;
}

.player-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.player-info {
  padding: 0 10px 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.player {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 0;
}

.player-name {
  font-size: 20px;
  font-weight: var(--font-weight-title);
}

.player-season {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.6;
}

.puck-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 12%;
  z-index: 2;
}

.record-progress-section {
  margin: 0 18px 18px 18px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: auto; /* Это прижмет секцию к низу */
}

.remaining-to-record {
  display: flex;
  position: fixed;
  align-items: flex-end;
  z-index: 2;
}

.record-progress__title {
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--text-color);
  font-size: clamp(0.75rem, 0.4205rem + 1.6477vw, 4.375rem);
  opacity: 0;
}

.record-difference {
  font-size: clamp(0.75rem, -0.6023rem + 6.7614vw, 15.625rem);
  color: #cf4342;
  position: relative;
  line-height: 0.9;
}

/* Элемент с изображением игрока */
.player-image-wrapper {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.player-image-wrapper img {
  width: clamp(300px, 75vw, 2784px);
  height: auto;
  display: block;
  object-fit: contain; /* Сохраняем пропорции и вписываем изображение в контейнер */
}

/* Прочие элементы, которые должны быть выше */
.header__theme-menu-list {
  position: fixed; /* чтобы позиционировать меню в правом нижнем углу */
  bottom: 18px;
  right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 2; /* Слой для меню */
}

/* Стили для ярлыка (label) */
.header__theme-menu-label {
  font-size: 14px;
  color: var(--accent-color);
  text-transform: lowercase;
}

/* Стили для селектора */
.header__theme-menu-select {
  padding: 0px 5px;
  font-size: 12px;
  color: var(--accent-color);
  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 3px;
  text-transform: lowercase;
  transition: 0.3s ease-in-out;
  outline: none;
  cursor: pointer;
}

/* При наведении и фокусе */
.header__theme-menu-select:hover,
.header__theme-menu-select:focus {
  background-color: var(--text-color);
  border-color: var(--accent-color);
  color: var(--shum-backgroung);
}

.player-goals {
  font-size: clamp(1.0625rem, 0.8864rem + 0.8807vw, 3rem);
  font-family: var(--font-primary);
  z-index: 2;
}

.opacity {
  opacity: 80%;
}

.visible {
  opacity: 1; /* Элемент становится видимым */
  transform: translateY(0); /* Элемент возвращается в нормальное положение */
}

#video-wrapper {
  z-index: 2;
}

#show-video-btn {
  display: none; /* Кнопка скрыта по умолчанию */

  width: 245px;
  height: 40px;

  background-color: var(--btn-backgroung);
  border-radius: 5px;
  border: none;
  color: var(--btn-color);
  font-size: 12px;
  z-index: 4;
  position: relative;
  text-align: start;
  padding-left: 15px;
  font-weight: 500;
}

#show-video-btn::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border: 1px solid var(--btn-color);
  border-radius: 50%; /* Делаем круг */
  left: 85%;
  top: 50%;
  transform: translateY(-50%) translateX(2px);
}

#show-video-btn::before {
  content: "";
  position: absolute;
  left: 88.5%;
  top: 50%;
  transform: translateY(-50%) translateX(2px);
  width: 0;
  height: 0;
  border-left: 8px solid var(--btn-color); /* Треугольник направлен вправо */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

/* ПОПАП СТИЛИ */

.section__picture_content {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-auto-rows: minmax(
    70px,
    180px
  ); /* Строки будут иметь высоту от 70px до 150px */
  grid-auto-flow: dense;
  gap: 15px;
  margin-bottom: 15px;
}

.picture__img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заполняет ячейку, обрезая лишнее */
  object-position: top center;
  background-color: #959595;
  border-radius: 5px;
}

.popup__body {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);

  backdrop-filter: blur(20px);
  padding: 15px 15px 30px 15px;
  /* background-color: green; */
  margin-bottom: 15px;
}

.popup__body-player {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.popup__body-player-info {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

.popup__body-player-title-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.popup__title {
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
}

.popup__body-player-info-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
}
.popup__body__img {
  height: 100%;
  background-color: #959595;
  object-fit: cover; /* Изображение заполняет контейнер, сохраняя пропорции, может быть обрезано */
  object-position: top center;
  border-radius: 5px;
}

.info-list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2px;
}

.info-list_up-stonge {
  display: flex;
  gap: 20px;
}

.info-list-citizenship {
  display: flex;
  gap: 10px;
}

.info-list-citizenship-flag {
  width: 20px;
  height: 12px;
  align-self: center;
}

.info-list-title {
  font-weight: 500;
}

.info-list-text {
  font-weight: 200;
}

.next-match-wrapper {
  background-color: #ffffff;
  width: 40%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 110px;
}

.next-match-text {
  color: #161b21;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.team-info {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding: 10px 10px 10px 10px;
}

.home-team,
.time-games,
.away-team {
  min-width: 80px; /* Минимальная ширина */
  height: 50px; /* Фиксированная высота для первых двух элементов */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #8c8c8c; */
}

.home-team {
  width: 30%;
}

.time-games {
  flex-grow: 2;

  font-size: 10px;
  font-weight: 400;
  gap: 5px;
  color: #161b21;
}

.away-team {
  width: 30%;
}

.home-team-logo {
  height: 100%;
}
.away-team-logo {
  height: 100%;
}

.team-text {
  font-size: 12px;
  color: #161b21;
  font-weight: 600;
}

.popup__statistics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.table {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1.5fr repeat(6, 1fr); /* Первый столбец в 1.5 раза шире других */
  /* 1fr для равномерного распределения */
  grid-template-rows: repeat(
    2,
    auto
  ); /* Высота строк автоматически по содержимому */
  gap: 5px;
  width: 100%; /* Растягиваем таблицу на всю ширину родителя */
  margin: auto; /* Центрирование */
  justify-items: stretch; /* Растягиваем ячейки по горизонтали */
  align-items: center; /* Центрируем по вертикали */
}

.table-header {
  font-size: 12px;
  font-weight: 300; /* Сделать заголовки жирными */
  align-self: end;
  text-align: center;
}

.table-cell {
  padding: 5px;
  background: rgba(255, 255, 255, 0.307);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.update-info {
  font-size: 8px;
  color: #ffffff;
  text-align: end;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.popup__facts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.facts-list {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
}

.fact {
  background-color: #746a71;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.fact-title {
  line-height: 1.3;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.fact-text {
  font-weight: 300;
}

.popup-footer {
  display: flex;
  justify-content: space-between;
}

.club-history {
  display: grid;
  grid-auto-flow: column; /* Заполнение по столбцам */
  grid-template-rows: auto auto; /* Два ряда: для эмблемы и года */
  gap: 10px; /* Расстояние между элементами */
}

.club-logo {
  /* Стили для эмблемы клуба */
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.club-year {
  /* Стили для года */
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.popup__button-close {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  z-index: 4;
  font-weight: 500;
  width: 150px;
  height: 35px;
  align-self: flex-end;
  cursor: pointer;
}

.popup__button-close:hover {
  color: #161b21;
  background-color: #ffffff;
}
