:root {
	--background-image: url(../image/background/backgroung-dark.webp);
	--background-image-mobil: url(../image/background/backgroung-mobil_dark.webp);

	
	--font-primary: "Russo One", sans-serif;
	--font-secondary: "Montserrat", sans-serif;

	
	--color-background: #121026;
  --title-color: #ffffff;
  --shum-backgroung: #121026;
  --text-color: #ffffff;
	--text-preloader:#ffffff;
	
  --font-weight: 100;
	--font-weight-title:400;

	--accent-color: #ffffff;
	--btn-color: #121026:

}
